body {
  background-color: blanchedalmond;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;  
  margin: 10rem auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #AAAAAA;
  max-width: 800px;
  width: 100%;
  height: 600px;
  border-radius: 24px;
}

.container h1 {
  font-size: 2rem;
}

.twt-btn {
  padding: 10px 1rem;
  background-color: #e2ac7f;
  border-radius: 1rem;
  margin-top: -10px;
  cursor: pointer;
}

a{
  text-decoration: none;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

.quote-container {
  width: 500px;
  margin: 1rem auto;
}

.quote-container h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

/* From Uiverse.io by AlimurtuzaCodes */ 
.btn {
  border: none;
  width: 15em;
  height: 3em;
  border-radius: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #1C1A1C;
  cursor: pointer;
  transition: all 450ms ease-in-out;
}

.sparkle {
  fill: #AAAAAA;
  transition: all 800ms ease;
}

.text {
  font-weight: 600;
  color: #AAAAAA;
  font-size: medium;
}

.btn:hover {
  background: linear-gradient(0deg,#fdfcfb ,  #e2d1c3);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
  inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
  0px 0px 0px 4px rgba(255, 255, 255, 0.2),
  0px 0px 180px 0px  #e2ac7f;
  transform: translateY(-0.5px);
}

.btn:hover .text {
  color: #6d6464;
}

.btn:hover .sparkle {
  fill: white;
  transform: scale(1);
} 

/* From Uiverse.io by bociKond */ 
.loader {
  width: 44.8px;
  height: 44.8px;
  color: #e2ac7f;
  margin: 2rem auto;
  position: relative;
  background: radial-gradient(11.2px,currentColor 94%,#0000);
}

.loader:before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: radial-gradient(10.08px at bottom right,#0000 94%,currentColor) top    left,
          radial-gradient(10.08px at bottom left ,#0000 94%,currentColor) top    right,
          radial-gradient(10.08px at top    right,#0000 94%,currentColor) bottom left,
          radial-gradient(10.08px at top    left ,#0000 94%,currentColor) bottom right;
  background-size: 22.4px 22.4px;
  background-repeat: no-repeat;
  animation: loader 1.5s infinite cubic-bezier(0.3,1,0,1);
}

@keyframes loader {
  33% {
    inset: -11.2px;
    transform: rotate(0deg);
  }

  66% {
    inset: -11.2px;
    transform: rotate(90deg);
  }

  100% {
    inset: 0;
    transform: rotate(90deg);
  }
}

/* media query for laptop */
@media only screen and (min-width: 1080px) and (max-width:1300px) {
  .container {
    width: 600px;
    margin: 3rem auto;
    height: 400px;
  }

  .quote-container {
    width: 400px;
  }
}

/* media query for tablet */


@media only screen and (min-width: 766px) and (max-width:1080px) {
  .container {
    width: 500px;
    margin: 20rem auto;
    height: 400px;
  }

  .quote-container {
    width: 400px;
  }
}


@media only screen and (min-width: 350px) and (max-width:765px) {
  .container {
    width: 350px;
    height: 500px;
  }

  .quote-container {
    width: 250px;
  }
}



